/*
** Roboto
*/
.roboto
  font-family Roboto

@font-face 
  font-family Roboto
  src url('~assets/fonts/roboto/light.woff2') format('woff2'),
      url('~assets/fonts/roboto/light.woff') format('woff')
  font-weight 300
  font-display swap

@font-face 
  font-family Roboto
  src url('~assets/fonts/roboto/regular.woff2') format('woff2'),
      url('~assets/fonts/roboto/regular.woff') format('woff')
  font-weight 400
  font-display swap

@font-face 
  font-family Roboto
  src url('~assets/fonts/roboto/bold.woff2') format('woff2'),
      url('~assets/fonts/roboto/bold.woff') format('woff')
  font-weight 900
  font-display swap

/*
** Montserrat
*/
.montserrat
  font-family Montserrat

@font-face 
  font-family Montserrat
  src url('~assets/fonts/montserrat/thin.woff2') format('woff2'),
      url('~assets/fonts/montserrat/thin.woff') format('woff')
  font-weight 100
  font-display swap

@font-face 
  font-family Montserrat
  src url('~assets/fonts/montserrat/light.woff2') format('woff2'),
      url('~assets/fonts/montserrat/light.woff') format('woff')
  font-weight 300
  font-display swap

@font-face 
  font-family Montserrat
  src url('~assets/fonts/montserrat/regular.woff2') format('woff2'),
      url('~assets/fonts/montserrat/regular.woff') format('woff')
  font-weight 400
  font-display swap