$root ?= 16px

rem($value, $base = $root)
  $max = length($value)

  $values = ()

  for $index in (0...$max)
    push($values, convert($value[$index], $base))

  return $values

convert($px, $base)
  if $is-ie && $is-ie--version <= 8
    ($px)px
  else if (typeof($px) == 'unit')
    if ((unit($px) == '' || unit($px) == 'px') && ($px != 0))
      return (round($px / $base, 3))rem
    else
      return 0