$primary = #eff4f7
$secondary = #f8fafe
$terciary = #ced2db
$quaternary = #e4eaed

$white = #ffffff
$black = #333333
$green = #17c58e
$red = #f54242

$shadow = -10px -10px 16px $secondary, 10px 10px 16px $terciary
$elevation = -5px -5px 8px $secondary, 5px 5px 8px $terciary