.search
  min-width 50%
  display flex
  align-items center
  margin-left auto
  box-shadow $elevation
  border-radius rem(35)

  &__input
    padding rem(15)
    flex 1
    background-color transparent

  .button
    margin rem(15 15 15 0)